<div class="container-fluid">
  <div class="row">
    <div class="col">
      <!-- Current Vessels -->
      <h4>Current Vessels</h4>
      <% @user_port_calls.each do |p| %>
        <% if p.ata.past? && p.departed == false %>
        <div class="card">
          <div class="card-body">
            <h4><%= p.voyage.vessel.name %> <%= p.voyage.number %></h4>
            <div class="btn-group">
              <%= link_to 'Edit & Depart Voyage', p.voyage, class: 'btn btn-outline-primary btn-sm' %>
              <%= link_to 'Shifts', voyage_port_call_path(p.voyage, p), class: 'btn btn-outline-primary btn-sm' %>
              <%= link_to '!Hourly Count!', root_path, class: 'btn btn-outline-success btn-sm' %>
            </div>
            <p>Scheduled to arrive <%= p.eta.strftime("%A, %B %d at %H%M") %></p>
          </div>
        </div>
        <% end %>
      <% end %>
      <!-- End Current Vessel -->

      <!-- Upcoming Vessels -->
      <h4>Upcoming Vessels</h4>
      <% @user_upcoming_port_calls.each do |p| %>
        <% if p.eta.future? %>
          <div class="card">
            <div class="card-body">
              <h4><%= p.voyage.vessel.name %> <%= p.voyage.number %></h4>
              <div class="btn-group">
                <%= link_to 'Edit Voyage', p.voyage, class: 'btn btn-outline-primary btn-sm' %>
                <%= link_to 'Shifts', voyage_port_call_path(p.voyage, p), class: 'btn btn-outline-primary btn-sm' %>
              </div>
              <p>Scheduled to arrive <%= p.eta.strftime("%A, %B %d at %H%M") %></p>
            </div>
          </div>
        <% end %>
      <% end %>
      <!-- End Upcoming Vessel -->

      <!-- Previous Vessels -->
      <h4>Previous Vessels</h4>
      <% @user_port_calls.each do |p| %>
        <% if p.departed == true || p.atd.past? %>
          <div class="card">
            <div class="card-body">
              <h4><%= p.voyage.vessel.name %> <%= p.voyage.number %></h4><%= link_to 'Voyage Recap ___ ADD RECAP PAGE', p.voyage, class: 'btn btn-outline-primary btn-sm' %>
              <p>Departed on <%= p.atd.strftime("%A, %B %d at %H%M") %></p>
            </div>
          </div>
        <% end %>
      <% end %>
      <!-- End Previous Vessel -->
    </div>
  </div>

</div>
<!-- #/ container -->
