<p id="notice"><%= notice %></p>

<h1>Voyage Management</h1>

<table>
  <thead>
    <tr>
      <th>Vessel</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voyages.each do |voyage| %>
      <tr>
        <td><%= voyage.vessel.name %></td>
        <td><%= voyage.number %></td>
        <td><%= link_to 'View', voyage %></td>
        <td><%= link_to 'Delete', voyage, method: :delete, data: { confirm: 'This will delete associated port calls, shifts, counts, crane operator analytics and all other analytics.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voyage', new_voyage_path %>
