<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="col-lg-12">
            <div class="card-title">
              <h2><%= @voyage.vessel.name %> <%= @voyage.number %> <%= link_to 'Edit Voyage Number', edit_voyage_path(@voyage), class: 'btn btn-outline-secondary' %></h2>
            </div>

          </div>
        </div>
      </div>
      <% if @voyage.port_calls.any? %>
        <div class="card">
          <div class="card-body">
            <div class="col-lg-12">
              <div class="card-title">
                <%= render @voyage.port_calls %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="card">
        <div class="card-body">
          <div class="col-lg-12">
            <div class="card-title">
              <h4>Add Port Call to Voyage</h4>
              <%= render 'port_calls/form', port_call: @voyage.port_calls.build %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
