<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h4>Daily Terminal Activity</h4>
            <%= link_to 'Add Daily Activity', new_daily_yard_count_path, class: 'btn btn-outline-primary' %>
          </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Trucks</th>
                  <th>Transactions</th>
                  <th>Detained</th>
                  <th>Turn Time</th>
                  <th>Note</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                  <% @daily_yard_counts.each do |daily_yard_count| %>
                    <tr>
                      <td><%= daily_yard_count.date.strftime("%d %b %y") %></td>
                      <td><%= daily_yard_count.trucks %></td>
                      <td><%= daily_yard_count.transactions %></td>
                      <td><%= daily_yard_count.detained %></td>
                      <td><%= daily_yard_count.turntime.strftime("%M:%S") %></td>
                      <td><%= daily_yard_count.note %></td>
                      <td class="btn-group"><%= link_to 'Edit', edit_daily_yard_count_path(daily_yard_count), class: 'btn btn-outline-primary btn-sm' %><%= link_to 'Delete', daily_yard_count, method: :delete, data: { confirm: 'This will delete any possible associated port calls shifts, counts, crane operator analytics and all other analytics.' }, class: 'btn btn-outline-danger btn-sm' %></td>
                    </tr>
                  <% end %>
                  <%= will_paginate @daily_yard_counts %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- /# card -->
</div>
