<p id="notice"><%= notice %></p>

<h1>Steamshiplines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steamshiplines.each do |steamshipline| %>
      <tr>
        <td><%= steamshipline.name %></td>
        <td><%= steamshipline.country_id %></td>
        <td><%= link_to 'Show', steamshipline %></td>
        <td><%= link_to 'Edit', edit_steamshipline_path(steamshipline) %></td>
        <td><%= link_to 'Destroy', steamshipline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Steamshipline', new_steamshipline_path %>
