<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @steamshipline.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @steamshipline.country_id %>
</p>

<%= link_to 'Edit', edit_steamshipline_path(@steamshipline) %> |
<%= link_to 'Back', steamshiplines_path %>
