<p id="notice"><%= notice %></p>

<p>
  <strong>Terminal:</strong>
  <%= @terminal.terminal %>
</p>

<p>
  <strong>Street:</strong>
  <%= @terminal.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @terminal.city %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @terminal.postal %>
</p>

<p>
  <strong>Country:</strong>
  <%= @terminal.country_id %>
</p>

<p>
  <strong>Port:</strong>
  <%= @terminal.port_id %>
</p>

<%= link_to 'Edit', edit_terminal_path(@terminal) %> |
<%= link_to 'Back', terminals_path %>
