<p id="notice"><%= notice %></p>

<h1>Port Calls</h1>

<table>
  <thead>
    <tr>
      <th>Voyage</th>
      <th>Terminal</th>
      <th>Eta</th>
      <th>Ata</th>
      <th>Etd</th>
      <th>Atd</th>
      <th>Departed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @port_calls.each do |port_call| %>
      <tr>
        <td><%= port_call.voyage_id %></td>
        <td><%= port_call.terminal_id %></td>
        <td><%= port_call.eta %></td>
        <td><%= port_call.ata %></td>
        <td><%= port_call.etd %></td>
        <td><%= port_call.atd %></td>
        <td><%= port_call.departed %></td>
        <td><%= link_to 'Show', voyage_port_calls_path %></td>
        <td><%= link_to 'Edit', edit_voyage_port_call_path(@voyage, port_call) %></td>
        <td><%= link_to 'Destroy', port_call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Port Call', new_port_call_path %>
