<p id="notice"><%= notice %></p>

<p>
  <strong>Voyage:</strong>
  <%= @port_call.voyage_id %>
</p>

<p>
  <strong>Terminal:</strong>
  <%= @port_call.terminal_id %>
</p>

<p>
  <strong>Eta:</strong>
  <%= @port_call.eta %>
</p>

<p>
  <strong>Ata:</strong>
  <%= @port_call.ata %>
</p>

<p>
  <strong>Etd:</strong>
  <%= @port_call.etd %>
</p>

<p>
  <strong>Atd:</strong>
  <%= @port_call.atd %>
</p>

<p>
  <strong>Departed:</strong>
  <%= @port_call.departed %>
</p>

<%= link_to 'Edit', edit_voyage_port_call_path(@voyage, @port_call) %>
