<div class="container-fluid">
  <div class="row">
    <div class="col">
      <!-- Port Call Info -->
        <div class="card">
          <div class="card-body">
            <h2><%= @port_call.voyage.vessel.name %> <%= @port_call.voyage.number %> <%= link_to 'Edit & Depart Voyage', voyage_path(@port_call.voyage), class: 'btn btn-outline-secondary' %></h2>
            <!-- Place logic for arrived/not time display & departed -->
            <p>Scheduled to arrive at <%= @port_call.eta.strftime("%A, %B %d at %H%M") %></p>
          </div>
        </div>
      <!-- End Port Call Info -->
      <!-- If shift Show -->
      <% if @port_call.shifts.any? %>
        <% @port_call.shifts.each do |s| %>
        <div class="card">
          <div class="card-body">
            <div class="col-lg-12">
              <div class="card-title">
                <h4>Shift starting <%= s.start_date_time.strftime("%a at %H%M") %><%= link_to '!Delete Shift!', port_call_shift_url(@port_call), method: :delete, data: { confirm: 'Are you sure? This will remove any associated counts, vessel and operator analytics. This cannot be undone.' } %></h4>
                <p>Planned Moves: <%= s.plan_moves %> | Actual Moves: <%= s.actual_moves %></p>
                <h5>Gang Structure</h5>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>

      <!-- CreateShift -->
      <div class="card">
        <div class="card-body">
          <div class="col-lg-12">
            <div class="card-title">
              <h4>Add Shift to the <%= @port_call.voyage.vessel.name %> <%= @port_call.voyage.number %></h4>
              <%= render 'shifts/form', shift: @port_call.shifts.build %>
            </div>

          </div>
        </div>
      </div>
      <!-- End Shift -->
    </div>
  </div>

</div>
