<p id="notice"><%= notice %></p>

<p>
  <strong>Move:</strong>
  <%= @count.move %>
</p>

<p>
  <strong>Time exception:</strong>
  <%= @count.time_exception %>
</p>

<p>
  <strong>Crane operator:</strong>
  <%= @count.crane_operator_id %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @count.shift_id %>
</p>

<%= link_to 'Edit', edit_count_path(@count) %> |
<%= link_to 'Back', counts_path %>
